@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
body {
}
.section-hero {
  background-image: url("./images/homepage/hero-bg-desktop.jpg");
  min-height: 82rem;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  color: white;
  padding: 6.5rem 0 0 16.5rem;
}
.section-hero__textbox {
  width: fit-content;
}
.section-hero__imgbox {
  margin-bottom: 15.3rem;
}
.section-hero__title {
  margin-bottom: 2.4rem;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.2rem;
  letter-spacing: -0.8px;
  max-width: 52.4rem;
}
.section-hero__desc {
  margin-bottom: 4.2rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.225px;
  max-width: 44.5rem;
}
.section-hero__cta {
  display: inline-block;
  border: 1px solid white;
  padding: 2.4rem 4.5rem 2.4rem 5.4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  position: relative;
}
.section-hero__cta span {
  position: relative;
  z-index: 3;
}
.section-hero__cta:hover,
.section-hero__cta:focus {
  color: black;
}
.section-hero__cta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.section-hero__cta:hover::before,
.section-hero__cta:focus::before {
  width: 100%;
}

@media all and (max-width: 904px) {
  .section-hero {
    background-image: url("./images/homepage/hero-bg-tablet.jpg");
    background-attachment: initial;
    min-height: 99.2rem;
    padding: 37.4rem 3.9rem 0 3.9rem;
  }
  .section-hero__imgbox {
    margin-bottom: 3.2rem;
  }
  .section-hero__textbox {
    width: 100%;
    max-width: 68.9rem;
    text-align: center;
    margin: 0 auto;
  }
  .section-hero__title {
    font-size: 4.8rem;
    line-height: 6.4rem;
    letter-spacing: -0.6px;
    max-width: 68.9rem;
  }
  .section-hero__desc {
    margin: 0 auto;
    margin-bottom: 2.4rem;
    max-width: 57.3rem;
  }
}
@media all and (max-width: 392px) {
  .section-hero {
    background-image: url("./images/homepage/hero-bg-mobile.jpg");
    min-height: 74.8rem;
    padding: 23.2rem 2.4rem 0 2.4rem;
  }
  .section-hero__title {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
  }
  .section-hero__desc {
    margin-bottom: 3.2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.1875px;
  }
}
.section-place {
  padding: 0 2.4rem;
  margin-bottom: 12.1rem;
  position: relative;
}
.section-place__container {
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12.5rem;
}
.section-place__imgbox {
  position: relative;
  max-width: 54rem;
  top: -7rem;
}
.section-place__imgbox--tablet,
.section-place__imgbox--mobile {
  display: none;
}
.section-place__textbox {
  color: #242b37;
}
.section-place__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.6rem;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
.section-place__desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.255px;
  max-width: 44.5rem;
}
.pattern-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
}
.pattern-box__circle {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  border: 1px solid #9e7f66;
}
.pattern-box__line {
  height: 1px;
  width: 56px;
  background: #9e7f66;
}
.weird-pattern {
  position: absolute;
  bottom: 8rem;
  left: 0;
  width: 100%;
  max-width: 89.5rem;
  height: 32rem;
  background-color: rgba(92, 103, 121, 0.08);
  border-radius: 100px 0px 0px 0px;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media all and (max-width: 885px) {
  .weird-pattern {
    border-radius: initial;
  }
}
@media all and (max-width: 803px) {
  .weird-pattern {
    bottom: initial;
    top: 10rem;
    max-width: 37.8rem;
  }
  .section-place__container {
    align-items: center;
    flex-direction: column;
    gap: 0rem;
  }
  .section-place__imgbox--desktop {
    display: none;
  }
  .section-place__imgbox--tablet {
    display: flex;
  }
  .section-place__imgbox {
    top: -9.6rem;
  }
  .section-place__textbox {
    text-align: center;
  }
  .pattern-box {
    justify-content: center;
    margin-bottom: 3.2rem;
  }
}
@media all and (max-width: 375px) {
  .section-place__imgbox--tablet {
    display: none;
  }
  .section-place__imgbox--mobile {
    display: flex;
  }
  .section-place__imgbox {
    top: -6.2rem;
  }
  .section-place {
    margin-bottom: 8rem;
  }
  .section-place__title {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
  }
  .section-place__desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.1875px;
  }
  .weird-pattern {
    display: none;
  }
}

/* highlights */

.section-highlight {
  background: #111111;
  color: white;
  padding: 20rem 2.4rem 12rem 2.4rem;
}
.section-highlight__container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 12.5rem;
}
.section-highlight__textbox-title {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -0.5px;
  line-height: 5.6rem;
}
.section-highlight__textbox-desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.225px;
  width: 100%;
  max-width: 44.5rem;
}
.section-highlight__menu-items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.section-highlight__menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 2.4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.section-highlight__menu-item:last-child {
  border: none;
}
.section-highlight__menu-item-imgbox {
  position: relative;
  width: 100%;
  max-width: 16rem;
}
.section-highlight__menu-item-imgbox--mobile {
  display: none;
}
.section-highlight__menu-item-imgbox img {
  width: 12.8rem;
  position: relative;
  z-index: 2;
}
.section-highlight__menu-item-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.225px;
  margin-bottom: 0.4rem;
}
.section-highlight__menu-item-desc {
  width: 100%;
  max-width: 35rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.line-thing {
  position: absolute;
  top: 1.8rem;
  right: 0;
  width: 100%;
  max-width: 3.2rem;
  height: 1px;
  background: #9e7f66;
  z-index: 1;
}

@media all and (max-width: 1000px) {
  .section-highlight {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
  .section-highlight__container {
    flex-direction: column;
    align-items: center;
    gap: 5.6rem;
  }

  .section-highlight__textbox {
    text-align: center;
  }
  .patternbox--1 {
    justify-content: center;
  }
}
@media all and (max-width: 485px) {
  .section-highlight {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
  }
  .section-highlight__menu-item {
    flex-direction: column;
  }
  .section-highlight__menu-item-textbox {
    text-align: center;
  }
  .section-highlight__menu-item-imgbox {
    width: 100%;
    max-width: 100%;
  }
  .section-highlight__menu-item-imgbox--desktop {
    display: none;
  }
  .section-highlight__menu-item-imgbox--mobile {
    display: flex;
  }
  .section-highlight__menu-item-imgbox img {
    /* width: 32.7rem; */
    width: 100%;
  }
  .line-thing {
    display: none;
  }
}
